<nav-directive></nav-directive>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a location" ng-model="homeCtrl.targetLoc">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="homeCtrl.search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="alert alert-warning" ng-show="homeCtrl.errMessage">
        <strong>Warning! </strong>{{homeCtrl.errMessage}}.
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Weather Forecast for {{homeCtrl.resolvedLoc}}</div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><skycon icon="homeCtrl.reports.current.icon"></skycon></td>
                        <td class="title">Today</td>
                        <td>{{homeCtrl.reports.current.summary}}</td>
                        <td>{{homeCtrl.reports.current.temp}} &deg;F</td>
                    </tr>
                    <tr ng-repeat="report in homeCtrl.reports.future" >
                        <td><skycon icon="report.icon"></skycon></td>
                        <td class="title">{{report.weekday}}</td>
                        <td>{{report.summary}}</td>
                        <td>{{report.minTemp}} &deg;F to {{report.maxTemp}} &deg;F </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<canvas-directive></canvas-directive>
