<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter a location" ng-model="homeCtrl.targetLoc">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="homeCtrl.search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
